In [26]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt  # import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [27]:
# cargan de datos de tiburones

attacks_ori = pd.read_csv('/Users/yaninafontana/ironhack/01_Proyect_Sharks/data/attacks.csv', encoding='latin1')

attacks =  attacks_ori.copy()

attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [28]:
attacks.shape #dimensiones originales de attacks

(25723, 24)

In [29]:
attacks.duplicated().any() #hay duplicados

True

In [30]:
attacks[attacks.duplicated()].head() #veo los primeros 5

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6310,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6312,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6313,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
attacks = attacks.drop_duplicates() #los borro

In [32]:
attacks.duplicated().any() #hay duplicados??

False

In [33]:
attacks.shape #dimensiones actuales

(6312, 24)

In [35]:
attacks.columns #ver nombres de columnas

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [36]:
attacks.columns = attacks.columns.str.strip() # Elimino los espacios en blanco de los nombres de las columnas

In [37]:
attacks.columns = attacks.columns.str.upper() # Convierto los nombres de las columnas a mayúsculas

In [38]:
print(attacks.columns) #compruebo que quedaron como quería, en mayúsculas y sin espacios

Index(['CASE NUMBER', 'DATE', 'YEAR', 'TYPE', 'COUNTRY', 'AREA', 'LOCATION',
       'ACTIVITY', 'NAME', 'SEX', 'AGE', 'INJURY', 'FATAL (Y/N)', 'TIME',
       'SPECIES', 'INVESTIGATOR OR SOURCE', 'PDF', 'HREF FORMULA', 'HREF',
       'CASE NUMBER.1', 'CASE NUMBER.2', 'ORIGINAL ORDER', 'UNNAMED: 22',
       'UNNAMED: 23'],
      dtype='object')

In [39]:
attacks.info(memory_usage='deep') #info del df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CASE NUMBER             6310 non-null   object
 1   DATE                    6302 non-null   object
 2   YEAR                    6300 non-null   float64
 3   TYPE                    6298 non-null   object
 4   COUNTRY                 6252 non-null   object
 5   AREA                    5847 non-null   object
 6   LOCATION                5762 non-null   object
 7   ACTIVITY                5758 non-null   object
 8   NAME                    6092 non-null   object
 9   SEX                     5737 non-null   object
 10  AGE                     3471 non-null   object
 11  INJURY                  6274 non-null   object
 12  FATAL (Y/N)             5763 non-null   object
 13  TIME                    2948 non-null   object
 14  SPECIES                 3464 non-null   object
 15  INVESTIGATOR OR SOURCE  6285 non-null   object
 16  PDF                     6302 non-null   object
 17  HREF FORMULA            6301 non-null   object
 18  HREF                    6302 non-null   object
 19  CASE NUMBER.1           6302 non-null   object
 20  CASE NUMBER.2           6302 non-null   object
 21  ORIGINAL ORDER          6309 non-null   float64
 22  UNNAMED: 22             1 non-null      object
 23  UNNAMED: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 9.4 MB

In [40]:
# columnas con valores nulos, ordenados de manera creciente. 
# Para ir dediciendo qué hacemos con cada valor nulo

nan_cols = attacks.isna().sum()
nan_cols[nan_cols>0].sort_values()

CASE NUMBER                  2
ORIGINAL ORDER               3
DATE                        10
CASE NUMBER.2               10
CASE NUMBER.1               10
HREF                        10
PDF                         10
HREF FORMULA                11
YEAR                        12
TYPE                        14
INVESTIGATOR OR SOURCE      27
INJURY                      38
COUNTRY                     60
NAME                       220
AREA                       465
FATAL (Y/N)                549
LOCATION                   550
ACTIVITY                   554
SEX                        575
AGE                       2841
SPECIES                   2848
TIME                      3364
UNNAMED: 23               6310
UNNAMED: 22               6311
dtype: int64

In [41]:
# Reemplazar los valores nulos en las columnas unnamed con cero

attacks[['UNNAMED: 22', 'UNNAMED: 23']] = attacks[['UNNAMED: 22', 'UNNAMED: 23']].fillna(0)

In [42]:
# los valores nulos de las columnas name, age, species, y time los reemplzo por "desconocido" 

attacks[['TIME', 'SPECIES', 'AGE', 'NAME']] = attacks[['TIME', 'SPECIES', 'AGE', 'NAME']].fillna("desconocido")

In [43]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #ya tengo menos nulos, sigo analizando qué hago con cada uno

CASE NUMBER                 2
ORIGINAL ORDER              3
CASE NUMBER.2              10
PDF                        10
HREF                       10
CASE NUMBER.1              10
DATE                       10
HREF FORMULA               11
YEAR                       12
TYPE                       14
INVESTIGATOR OR SOURCE     27
INJURY                     38
COUNTRY                    60
AREA                      465
FATAL (Y/N)               549
LOCATION                  550
ACTIVITY                  554
SEX                       575
dtype: int64

In [44]:
# como para mi objetivo, es definitivo el sexo de la persona atacada, 
# y el país donde ocurrió el ataque, las filas que tengan valores 
# nulos en estas columnas no me sirven, las borro. 

attacks.dropna(subset=['SEX', 'COUNTRY'], inplace=True)

In [45]:
# los valores nulos de las columnas area, actividad, y locación 
# los reemplzo por "desconocido" ya que no afectan al objetivo de mi analisis

attacks[['AREA', 'ACTIVITY', 'LOCATION']] = attacks[['AREA', 'ACTIVITY', 'LOCATION']].fillna("desconocido")

In [46]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #cada vez menos nulos, me centro en FATAL Y/N

CASE NUMBER                 1
HREF FORMULA                1
YEAR                        2
TYPE                        4
INJURY                     12
INVESTIGATOR OR SOURCE     15
FATAL (Y/N)               457
dtype: int64

In [59]:
attacks[attacks['FATAL (Y/N)'].isnull()].head()       # explorar la columna fatal Y/N

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,desconocido,desconocido,"Globo, 4/16/2018",2018.04.15.c-deMelo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.c,2018.04.15.c,6276.0,0,0
79,2017.09.24.b,24-Sep-2017,2017.0,Invalid,USA,New York,Rockaway,Surfing,Michah Behrend,M,33,"Lacerations to right ankle, foot & toe",NaN,15h30,Questionable,"S. Curatolo-Wageman, GSAF",2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.24.b,2017.09.24.b,6224.0,0,0
98,2017.08.26.b,26-Aug-2017,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Lacerations to left foot,NaN,Midday,Shark involvement questionable,"El Periodico Mediterraneo, 8/27/2017",2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b,2017.08.26.b,6205.0,0,0
107,2017.07.29.c,29-Jul-2017,2017.0,Invalid,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Johnny Simatacolos,M,10,Abrasions and cuts to sole of foot,NaN,15h00,A small shark,"C. Creswell, GSAF",2017.07.29.c-Simatacolos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.29.c,2017.07.29.c,6196.0,0,0
115,2017.07.20.c,20-Jul-2017,2017.0,Invalid,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Ellie Rogier,F,8,Foot injured,NaN,desconocido,Shark involvement not confirmed,"C. Creswell, GSAF",2017.07.20.c-Rogier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.20.c,2017.07.20.c,6188.0,0,0

In [48]:
# Reemplazar los valores nulos en "FATAL (Y/N)" con "Y" si "INJURY" contiene "fatal," "FATAL," o "Fatal"

attacks.loc[attacks['INJURY'].str.contains('fatal', case=False, na=False), 'FATAL (Y/N)'] = 'Y'

In [60]:
# Filtrar el DataFrame para ver las filas donde "INJURY" contiene "no injury" (sin importar mayúsculas o minúsculas)

attacks[attacks['INJURY'].str.contains('no injury', case=False, na=False)].head()

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,desconocido,"No injury, board bitten",N,desconocido,desconocido,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,0,0
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,desconocido,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,0,0
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.b,2018.04.28.b,6285.0,0,0
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,desconocido,"No injury, knocked off board by shark",N,16h50,desconocido,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0,0,0

In [61]:
condition = attacks['INJURY'].str.contains('no injury', case=False, na=False) # Crear una condición para seleccionar las filas adecuadas

attacks.loc[condition, 'FATAL (Y/N)'] = 'N' # Rellenar los valores nulos en "FATAL (Y/N)" con "N" donde se cumple la condición

In [63]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #Ahora solo tengo 336 nulos en fatal. Estos 336 ataques los elimino

CASE NUMBER                 1
HREF FORMULA                1
YEAR                        2
TYPE                        4
INJURY                     12
INVESTIGATOR OR SOURCE     15
FATAL (Y/N)               336
dtype: int64

In [64]:
attacks.dropna(subset=['FATAL (Y/N)'], inplace=True)

In [68]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #me quedan pocos nulos, como no son representativos en mi muestra, los borro

CASE NUMBER                1
YEAR                       1
HREF FORMULA               1
TYPE                       3
INJURY                    10
INVESTIGATOR OR SOURCE    11
dtype: int64