In [1]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt  # import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# cargan de datos de tiburones

attacks_ori = pd.read_csv('/Users/yaninafontana/ironhack/01_Proyect_Sharks/data/attacks.csv', encoding='latin1')

attacks =  attacks_ori.copy()

attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
attacks.shape #dimensiones originales de attacks

(25723, 24)

In [4]:
attacks.duplicated().any() #hay duplicados

True

In [5]:
attacks[attacks.duplicated()].head() #veo los primeros 5

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6310,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6312,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6313,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
attacks = attacks.drop_duplicates() #los borro

In [7]:
attacks.duplicated().any() #hay duplicados??

False

In [8]:
attacks.shape #dimensiones actuales

(6312, 24)

In [9]:
attacks.columns #ver nombres de columnas

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
attacks.columns = attacks.columns.str.strip() # Elimino los espacios en blanco de los nombres de las columnas

In [11]:
attacks.columns = attacks.columns.str.upper() # Convierto los nombres de las columnas a mayúsculas

In [12]:
print(attacks.columns) #compruebo que quedaron como quería, en mayúsculas y sin espacios

Index(['CASE NUMBER', 'DATE', 'YEAR', 'TYPE', 'COUNTRY', 'AREA', 'LOCATION',
       'ACTIVITY', 'NAME', 'SEX', 'AGE', 'INJURY', 'FATAL (Y/N)', 'TIME',
       'SPECIES', 'INVESTIGATOR OR SOURCE', 'PDF', 'HREF FORMULA', 'HREF',
       'CASE NUMBER.1', 'CASE NUMBER.2', 'ORIGINAL ORDER', 'UNNAMED: 22',
       'UNNAMED: 23'],
      dtype='object')

In [13]:
attacks.info(memory_usage='deep') #info del df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CASE NUMBER             6310 non-null   object
 1   DATE                    6302 non-null   object
 2   YEAR                    6300 non-null   float64
 3   TYPE                    6298 non-null   object
 4   COUNTRY                 6252 non-null   object
 5   AREA                    5847 non-null   object
 6   LOCATION                5762 non-null   object
 7   ACTIVITY                5758 non-null   object
 8   NAME                    6092 non-null   object
 9   SEX                     5737 non-null   object
 10  AGE                     3471 non-null   object
 11  INJURY                  6274 non-null   object
 12  FATAL (Y/N)             5763 non-null   object
 13  TIME                    2948 non-null   object
 14  SPECIES                 3464 non-null   object
 15  INVESTIGATOR OR SOURCE  6285 non-null   object
 16  PDF                     6302 non-null   object
 17  HREF FORMULA            6301 non-null   object
 18  HREF                    6302 non-null   object
 19  CASE NUMBER.1           6302 non-null   object
 20  CASE NUMBER.2           6302 non-null   object
 21  ORIGINAL ORDER          6309 non-null   float64
 22  UNNAMED: 22             1 non-null      object
 23  UNNAMED: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 9.4 MB

In [14]:
# columnas con valores nulos, ordenados de manera creciente. 
# Para ir dediciendo qué hacemos con cada valor nulo

nan_cols = attacks.isna().sum()
nan_cols[nan_cols>0].sort_values()

CASE NUMBER                  2
ORIGINAL ORDER               3
DATE                        10
CASE NUMBER.2               10
CASE NUMBER.1               10
HREF                        10
PDF                         10
HREF FORMULA                11
YEAR                        12
TYPE                        14
INVESTIGATOR OR SOURCE      27
INJURY                      38
COUNTRY                     60
NAME                       220
AREA                       465
FATAL (Y/N)                549
LOCATION                   550
ACTIVITY                   554
SEX                        575
AGE                       2841
SPECIES                   2848
TIME                      3364
UNNAMED: 23               6310
UNNAMED: 22               6311
dtype: int64

In [15]:
# Reemplazar los valores nulos en las columnas unnamed con cero

attacks[['UNNAMED: 22', 'UNNAMED: 23']] = attacks[['UNNAMED: 22', 'UNNAMED: 23']].fillna(0)

In [16]:
# los valores nulos de las columnas name, age, species, y time los reemplzo por "desconocido" 

attacks[['TIME', 'SPECIES', 'AGE', 'NAME']] = attacks[['TIME', 'SPECIES', 'AGE', 'NAME']].fillna("desconocido")

In [17]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #ya tengo menos nulos, sigo analizando qué hago con cada uno

CASE NUMBER                 2
ORIGINAL ORDER              3
CASE NUMBER.2              10
PDF                        10
HREF                       10
CASE NUMBER.1              10
DATE                       10
HREF FORMULA               11
YEAR                       12
TYPE                       14
INVESTIGATOR OR SOURCE     27
INJURY                     38
COUNTRY                    60
AREA                      465
FATAL (Y/N)               549
LOCATION                  550
ACTIVITY                  554
SEX                       575
dtype: int64

In [18]:
# como para mi objetivo, es definitivo el sexo de la persona atacada, 
# y el país donde ocurrió el ataque, las filas que tengan valores 
# nulos en estas columnas no me sirven, las borro. 

attacks.dropna(subset=['SEX', 'COUNTRY'], inplace=True)

In [19]:
# los valores nulos de las columnas area, actividad, y locación 
# los reemplzo por "desconocido" ya que no afectan al objetivo de mi analisis

attacks[['AREA', 'ACTIVITY', 'LOCATION']] = attacks[['AREA', 'ACTIVITY', 'LOCATION']].fillna("desconocido")

In [20]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #cada vez menos nulos, me centro en FATAL Y/N

CASE NUMBER                 1
HREF FORMULA                1
YEAR                        2
TYPE                        4
INJURY                     12
INVESTIGATOR OR SOURCE     15
FATAL (Y/N)               457
dtype: int64

In [21]:
attacks[attacks['FATAL (Y/N)'].isnull()].head()       # explorar la columna fatal Y/N

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,desconocido,desconocido,"Globo, 4/16/2018",2018.04.15.c-deMelo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.c,2018.04.15.c,6276.0,0,0
76,2017.10.01,01-Oct-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,M,31,FATAL,NaN,desconocido,Death may have been due to drowning,"All Africa, 10/11/2017",2017.10.01-Fick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.01,2017.10.01,6227.0,0,0
79,2017.09.24.b,24-Sep-2017,2017.0,Invalid,USA,New York,Rockaway,Surfing,Michah Behrend,M,33,"Lacerations to right ankle, foot & toe",NaN,15h30,Questionable,"S. Curatolo-Wageman, GSAF",2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.24.b,2017.09.24.b,6224.0,0,0
84,2017.09.15.b,15-Sep-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Hawston,Scuba Diving,Wayon Love,M,25,"FATAL, but death was probably due to drowning",NaN,Afternoon,desconocido,"Ground Up, 9/20/2017",2017.09.15.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.b,2017.09.15.b,6219.0,0,0
98,2017.08.26.b,26-Aug-2017,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Lacerations to left foot,NaN,Midday,Shark involvement questionable,"El Periodico Mediterraneo, 8/27/2017",2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b,2017.08.26.b,6205.0,0,0

In [22]:
# Reemplazar los valores nulos en "FATAL (Y/N)" con "Y" si "INJURY" contiene "fatal," "FATAL," o "Fatal"

attacks.loc[attacks['INJURY'].str.contains('fatal', case=False, na=False), 'FATAL (Y/N)'] = 'Y'

In [23]:
# Filtrar el DataFrame para ver las filas donde "INJURY" contiene "no injury" (sin importar mayúsculas o minúsculas)

attacks[attacks['INJURY'].str.contains('no injury', case=False, na=False)].head()

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,desconocido,"No injury, board bitten",N,desconocido,desconocido,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,0,0
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,desconocido,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,0,0
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.b,2018.04.28.b,6285.0,0,0
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,desconocido,"No injury, knocked off board by shark",N,16h50,desconocido,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0,0,0

In [24]:
condition = attacks['INJURY'].str.contains('no injury', case=False, na=False) # Crear una condición para seleccionar las filas adecuadas

attacks.loc[condition, 'FATAL (Y/N)'] = 'N' # Rellenar los valores nulos en "FATAL (Y/N)" con "N" donde se cumple la condición

In [25]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #Ahora solo tengo 336 nulos en fatal. Estos 336 ataques los elimino

CASE NUMBER                 1
HREF FORMULA                1
YEAR                        2
TYPE                        4
INJURY                     12
INVESTIGATOR OR SOURCE     15
FATAL (Y/N)               336
dtype: int64

In [26]:
attacks.dropna(subset=['FATAL (Y/N)'], inplace=True)

In [27]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values() #me quedan pocos nulos,

CASE NUMBER                1
YEAR                       1
HREF FORMULA               1
TYPE                       3
INJURY                    10
INVESTIGATOR OR SOURCE    11
dtype: int64

In [28]:
nulls = nan_cols[nan_cols > 0].index.tolist()
attacks = attacks.dropna(subset=nulls)             #como no son representativos en mi muestra, los elimino

In [29]:
nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0].sort_values()   #ya no tengo nulos!

Series([], dtype: int64)

In [30]:
attacks.duplicated().any() #por las dudas, como estuve modificando cosas, chequeo nuevamente duplicados

False

In [31]:
attacks.shape  #dimensiones actuales de mi dataframe

(5329, 24)

In [32]:
attacks_ori.shape, attacks.shape

((25723, 24), (5329, 24))

# Hasta acá la limpieza inicial de los datos (nombres de columnas y valores nulos)

In [33]:
# En principio voy a limpiar más profundamente las columnas en las que se centra mi objetivo: SEX, FATAL, y COUNTRY

In [34]:
attacks['SEX'].unique() #comienzo con la exploracion y limpieza de columna SEX

array(['F', 'M', 'M ', 'lli', 'N', '.'], dtype=object)

In [35]:
attacks['SEX'] = attacks['SEX'].str.strip()     # Elimino los espacios en blanco de los nombres de las columnas

In [36]:
attacks['SEX'].value_counts() #esos 3 registros se van

M      4746
F       580
lli       1
N         1
.         1
Name: SEX, dtype: int64

In [37]:
attacks = attacks[attacks['SEX'] != 'lli']

In [38]:
attacks = attacks[attacks['SEX'] != 'N']

In [39]:
attacks = attacks[attacks['SEX'] != '.']

In [40]:
attacks['SEX'].value_counts() #listo, solo masculino o femenino

M    4746
F     580
Name: SEX, dtype: int64

In [41]:
attacks['FATAL (Y/N)'].value_counts()  #comienzo con la exploracion y limpieza de columna FATAL

N          3988
Y          1302
UNKNOWN      27
 N            7
M             1
2017          1
Name: FATAL (Y/N), dtype: int64

In [42]:
attacks['FATAL (Y/N)'] = attacks['FATAL (Y/N)'].str.strip()  # Elimino espacios en blanco de la " N"

In [43]:
attacks['FATAL (Y/N)'].value_counts()  #los 7 anteriores se sumaron a "N"

N          3995
Y          1302
UNKNOWN      27
M             1
2017          1
Name: FATAL (Y/N), dtype: int64

In [44]:
#Quiero ver los unknown a ver si con la columna "injury" puedo deducir algo
#Como son solo 27, miro uno por uno. 
#No obtengo info fiable de las otras filas para poder sobreescribir el "unknown"

In [45]:
attacks[attacks['FATAL (Y/N)'] == 'UNKNOWN'].head()

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
624,2013.09.08,08-Sep-2013,2013.0,Unprovoked,USA,South Carolina,"St. Helena Island, Beaufort County",desconocido,female,F,desconocido,No details,UNKNOWN,desconocido,desconocido,"WIS-TV, 9/9/2013",2013.09.08-St-Helena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.09.08,2013.09.08,5679.0,0,0
2260,1997.02.21,21-Feb-1997,1997.0,Unprovoked,USA,Hawaii,"Sunset Beach, O'ahu",desconocido,Gersome Perreno,M,desconocido,No details,UNKNOWN,desconocido,desconocido,G. Balazs,1997.02.21-NV-Perreno.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.02.21,1997.02.21,4043.0,0,0
2307,1996.04.28.b,28-Apr-1996,1996.0,Unprovoked,USA,Hawaii,"La'ie Point, O'ahu",desconocido,Wayne Leong,M,desconocido,No details,UNKNOWN,desconocido,desconocido,G. Balazs,1996.04.28.b-Leong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.04.28.b,1996.04.28.b,3996.0,0,0
2328,1995.12.18,18-Dec-1995,1995.0,Unprovoked,USA,Hawaii,Southwest of O'ahu,desconocido,Carlton Taniyama,M,desconocido,No details,UNKNOWN,desconocido,desconocido,G. Balazs,1995.12.18-NV-Taniyama.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1995.12.18,1995.12.18,3975.0,0,0
2404,1995.00.00.b,1995,1995.0,Unprovoked,USA,South Carolina,"Pawleys Island, Georgetown County",desconocido,male,M,desconocido,No details,UNKNOWN,desconocido,desconocido,"C. Creswell, GSAF; ISAF 2793",1995.00.00.b-NV-PawleysIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1995.00.00.b,1995.00.00.b,3899.0,0,0

In [46]:
attacks[attacks['FATAL (Y/N)'] == 'M'] #este es un caso NO fatal, asíque sobreescribo la M por N

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
285,2016.04.18.b,18-Apr-2016,2016.0,Provoked,FRENCH POLYNESIA,Tuamotos,Makemo Atoll,Spearfishing,Hoata Iotua,M,22,Laceration to knee by speared shark PROVOKED I...,M,Morning,"Grey reef shark, 2 m","TNTV News, 4/19/2016",2016.04.18.b-Iotua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.18.b,2016.04.18.b,6018.0,0,0

In [47]:
attacks['FATAL (Y/N)'] = attacks['FATAL (Y/N)'].replace('M', 'N') #sobreescribo la M

In [48]:
attacks[attacks['FATAL (Y/N)'] == '2017']  #miro el caso de "2017"

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
786,2012.06.10,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.06.10,2012.06.10,5517.0,0,0

In [49]:
attacks['FATAL (Y/N)'] = attacks['FATAL (Y/N)'].replace('2017', 'N') #lo sobreescribo

In [50]:
attacks = attacks[attacks['FATAL (Y/N)'] != 'UNKNOWN']

In [51]:
attacks['FATAL (Y/N)'].value_counts() #listo, columna limpia, con fatales si o no.

N    3997
Y    1302
Name: FATAL (Y/N), dtype: int64

In [52]:
attacks.shape

(5299, 24)

In [53]:
#ya tengo limpias SEX y FATAL, ahora voy por la columna COUNTRY que es la 3era que me sirve para mi objetivo

In [54]:
attacks['COUNTRY'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'ECUADOR',
       'NEW CALEDONIA', 'MALAYSIA', 'CUBA', 'MAURITIUS', 'NEW ZEALAND',
       'SPAIN', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, British overseas territory', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'Fiji',
       'DOMINICAN REPUBLIC', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ST. MARTIN', 'FRANCE', 'CAYMAN ISLANDS',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'JAMAICA', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CHILE', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'SAMOA', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'UNITED ARAB EMIRATES (UAE)', 'PANAMA', 'SOMALIA', 'CROATIA',
       'NORWAY', 'Sierra Leone', 'ATLANTIC OCEAN', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'VANUATU', 'MEXICO ', 'VENEZUELA',
       'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CANADA',
       'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'SENEGAL',
       'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'CARIBBEAN SEA', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'GREECE', 'NORTH ATLANTIC OCEAN',
       'PORTUGAL', 'SOUTH CHINA SEA', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'YEMEN', 'THE BALKANS', 'SUDAN?',
       'ARGENTINA', 'MARTINIQUE', 'NETHERLANDS ANTILLES', 'LIBERIA',
       'SAUDI ARABIA', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ',
       'SIERRA LEONE', ' PHILIPPINES', 'CENTRAL PACIFIC', 'INDIAN OCEAN',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'CURACAO', 'ICELAND',
       'ITALY / CROATIA', 'CAPE VERDE', 'HONDURAS', 'NICARAGUA', 'MONACO',
       'GUYANA', 'BARBADOS', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'LIBYA', 'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE',
       'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON',
       'BRITISH NEW GUINEA', 'OCEAN', 'GEORGIA', 'SYRIA', 'INDIAN OCEAN?',
       'GUINEA', 'ANDAMAN ISLANDS', 'CEYLON',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'MEDITERRANEAN SEA', 'Between PORTUGAL & INDIA', 'BAHREIN',
       'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [55]:
attacks['COUNTRY'].nunique()

197

In [56]:
# Limpieza de la columna "Country"

In [57]:
attacks['COUNTRY'] = attacks['COUNTRY'].str.strip()  # Elimino espacios en blanco

In [58]:
attacks['COUNTRY'].nunique()

189

In [59]:
country_mapping = {                       # Unifico algunos valores que representan la misma ubicación
    'ATLANTIC OCEAN': 'OCEAN',
    'PACIFIC OCEAN': 'OCEAN',
    'RED SEA': 'OCEAN',
    'INDIAN OCEAN': 'OCEAN',
    'NORTH ATLANTIC OCEAN': 'OCEAN',
    'NORTH ATLANTIC OCEAN ': 'OCEAN',
    'INDIAN OCEAN?': 'OCEAN',
    'OCEAN': 'OCEAN',
    'SOUTHWEST PACIFIC OCEAN': 'OCEAN',
    'SOUTH PACIFIC OCEAN': 'OCEAN',
    'SOUTH ATLANTIC OCEAN': 'OCEAN',
    'RED SEA / INDIAN OCEANN': 'OCEAN',
    'NORTH PACIFIC OCEAN': 'OCEAN',
    'MID ATLANTIC OCEAN': 'OCEAN',
    'MID-PACIFC OCEAN': 'OCEAN', 
    'CARIBBEAN SEA': 'OCEAN',   
    'ENGLAND': 'UNITED KINGDOM', 
    'SCOTLAND': 'UNITED KINGDOM', 
    'BRITISH ISLES': 'UNITED KINGDOM', 
    'UNITED ARAB EMIRATES (UAE)': 'UNITED ARAB EMIRATES',
    'RED SEA / INDIAN OCEAN': 'OCEAN',  
    'NORTH SEA': 'OCEAN', 
    'SUDAN?': 'SUDAN', 
    'CENTRAL PACIFIC': 'OCEAN', 
    'WESTERN SAMOA': 'SAMOA',
    'TOBAGO': 'TRINIDAD & TOBAGO',
    'BAY OF BENGAL': 'OCEAN',  
    'ANDAMAN ISLANDS': 'INDIA', 
    'CEYLON': 'SRI LANKA',  
    'CEYLON (SRI LANKA)': 'SRI LANKA',
    'RED SEA?': 'OCEAN', 
    'Coast of AFRICA': 'AFRICA', 
    'Between PORTUGAL & INDIA': 'OCEAN',
    'Fiji': 'FIJI', 
    'ASIA?': 'ASIA',
}

attacks['COUNTRY'] = attacks['COUNTRY'].replace(country_mapping)

In [60]:
attacks['COUNTRY'].nunique()

158

In [61]:
attacks['COUNTRY'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'ECUADOR', 'NEW CALEDONIA', 'MALAYSIA', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, British overseas territory', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'INDONESIA', 'CHINA', 'COLUMBIA', 'FIJI', 'DOMINICAN REPUBLIC',
       'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY', 'ST. MARTIN',
       'FRANCE', 'CAYMAN ISLANDS', 'PAPUA NEW GUINEA',
       'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES',
       'BELIZE', 'JAMAICA', 'NIGERIA', 'TONGA', 'CHILE', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'SAMOA', 'AZORES', 'SOUTH KOREA',
       'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'CROATIA',
       'NORWAY', 'Sierra Leone', 'OCEAN', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'VANUATU', 'VENEZUELA', 'SRI LANKA', 'URUGUAY',
       'INDIA', 'MICRONESIA', 'CANADA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'SENEGAL', 'EGYPT / ISRAEL',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'GREECE',
       'PORTUGAL', 'SOUTH CHINA SEA', 'PALAU', 'GRENADA', 'IRAQ',
       'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'NEW GUINEA', 'FEDERATED STATES OF MICRONESIA',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'PERSIAN GULF',
       'NICARAGUA', 'MALDIVE ISLANDS', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'YEMEN',
       'THE BALKANS', 'ARGENTINA', 'MARTINIQUE', 'NETHERLANDS ANTILLES',
       'LIBERIA', 'SAUDI ARABIA', 'NORTHERN MARIANA ISLANDS',
       'IRAN / IRAQ', 'SIERRA LEONE', 'SOLOMON ISLANDS / VANUATU',
       'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'CAPE VERDE', 'HONDURAS',
       'MONACO', 'GUYANA', 'BARBADOS', 'HAITI', 'SAN DOMINGO', 'IRELAND',
       'KUWAIT', 'LIBYA', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE',
       'CYPRUS', 'WEST INDIES', 'BURMA', 'LEBANON', 'BRITISH NEW GUINEA',
       'GEORGIA', 'SYRIA', 'GUINEA', 'EQUATORIAL GUINEA / CAMEROON',
       'COOK ISLANDS', 'PERU', 'AFRICA', 'ALGERIA', 'TASMAN SEA', 'GHANA',
       'MEDITERRANEAN SEA', 'BAHREIN', 'KOREA', 'ASIA'], dtype=object)

In [62]:
attacks.describe(include='object').T #una mirada "rápida" por el df actual

,count,unique,top,freq
CASE NUMBER,5299,5287,2014.08.02,2
DATE,5299,4615,1957,8
TYPE,5299,8,Unprovoked,4352
COUNTRY,5299,158,USA,1973
AREA,5299,696,Florida,951
LOCATION,5299,3528,desconocido,402
ACTIVITY,5299,1292,Surfing,907
NAME,5299,4535,male,485
SEX,5299,2,M,4722
AGE,5299,144,desconocido,2063
INJURY,5299,3063,FATAL,734
FATAL (Y/N),5299,2,N,3997
TIME,5299,349,desconocido,2570
SPECIES,5299,1399,desconocido,2506
INVESTIGATOR OR SOURCE,5299,4263,"S. Petersohn, GSAF",80
PDF,5299,5290,1923.00.00.a-NJ fisherman.pdf,2
HREF FORMULA,5299,5290,http://sharkattackfile.net/spreadsheets/pdf_di...,2
HREF,5299,5284,http://sharkattackfile.net/spreadsheets/pdf_di...,4
CASE NUMBER.1,5299,5287,2014.08.02,2
CASE NUMBER.2,5299,5287,2014.08.02,2
UNNAMED: 22,5299,2,0,5298
UNNAMED: 23,5299,3,0,5297

In [63]:
#Ahora empiezo con mi objetivo. Primero quiero saber en qué 3 países se produjeron más ataques de tiburón

In [64]:
attacks['COUNTRY'].value_counts().head(3)

USA             1973
AUSTRALIA       1108
SOUTH AFRICA     474
Name: COUNTRY, dtype: int64

In [65]:
#tambien quiero saber qué porcentaje de ataques fueron fatales y cuántos no, a nivel global

In [66]:
fatal_counts = attacks['FATAL (Y/N)'].value_counts()
total_attacks = len(attacks)

fatal_percentage = (fatal_counts['Y'] / total_attacks) * 100
non_fatal_percentage = (fatal_counts['N'] / total_attacks) * 100

print(f"Porcentaje de ataques fatales: {fatal_percentage:.2f}%")
print(f"Porcentaje de ataques no fatales: {non_fatal_percentage:.2f}%")

Porcentaje de ataques fatales: 24.57%
Porcentaje de ataques no fatales: 75.43%

In [67]:
#quiero saber qué porcentaje de ataques se dieron en hombres, y cuántos en mujeres a nivel global

In [68]:
gender_counts = attacks['SEX'].value_counts()
total_attacks = len(attacks)

female_attacks = (gender_counts['F'] / total_attacks) * 100   # así calculo el porcentaje en mujeres y hombres
male_attacks = (gender_counts['M'] / total_attacks) * 100

print(f"Porcentaje de ataques en mujeres: {female_attacks:.2f}%")
print(f"Porcentaje de ataques en hombres: {male_attacks:.2f}%")

Porcentaje de ataques en mujeres: 10.89%
Porcentaje de ataques en hombres: 89.11%

In [69]:
# ahora me gustaria centrarme en los 1973 casos que se produjeron en USA 
#y ver si fueron o no fatales, y si los atacados fueron hombres o mujeres

In [70]:
usa_attacks = attacks[attacks['COUNTRY'] == 'USA']

fatal_counts = usa_attacks['FATAL (Y/N)'].value_counts()
total_attacks = len(usa_attacks)

fatal_percentage = (fatal_counts['Y'] / total_attacks) * 100
non_fatal_percentage = (fatal_counts['N'] / total_attacks) * 100

print(f"Porcentaje de ataques fatales: {fatal_percentage:.2f}%")
print(f"Porcentaje de ataques no fatales: {non_fatal_percentage:.2f}%")

Porcentaje de ataques fatales: 9.93%
Porcentaje de ataques no fatales: 90.07%

In [71]:
usa_attacks = attacks[attacks['COUNTRY'] == 'USA'] #para centrarme solo en USA, 
                                                   #pero los porcentajes finales son respecto al TOTAL de ataques

grouped_data = usa_attacks.groupby(['SEX', 'FATAL (Y/N)']).size().reset_index(name='count') #asi agruposegún sexo y fatalidad


# me quedarían 4 categorias (F fatales, F no fatales, M fatales y M no fatales) y cuento cada una de ellas

female_fatal = grouped_data[(grouped_data['SEX'] == 'F') & (grouped_data['FATAL (Y/N)'] == 'Y')]['count'].values[0]

female_non_fatal = grouped_data[(grouped_data['SEX'] == 'F') & (grouped_data['FATAL (Y/N)'] == 'N')]['count'].values[0]

male_fatal = grouped_data[(grouped_data['SEX'] == 'M') & (grouped_data['FATAL (Y/N)'] == 'Y')]['count'].values[0]

male_non_fatal = grouped_data[(grouped_data['SEX'] == 'M') & (grouped_data['FATAL (Y/N)'] == 'N')]['count'].values[0]

percentage_female_fatal = (female_fatal / total_attacks) * 100
percentage_female_non_fatal = (female_non_fatal / total_attacks) * 100

percentage_male_fatal = (male_fatal / total_attacks) * 100
percentage_male_non_fatal = (male_non_fatal / total_attacks) * 100

print(f"Ataques fatales a mujeres en USA: {female_fatal} ({percentage_female_fatal:.2f}%)")
print(f"Ataques no fatales a mujeres en USA: {female_non_fatal} ({percentage_female_non_fatal:.2f}%)")
print(f"Ataques fatales a hombres en USA: {male_fatal} ({percentage_male_fatal:.2f}%)")
print(f"Ataques no fatales a hombres en USA: {male_non_fatal} ({percentage_male_non_fatal:.2f}%)")

Ataques fatales a mujeres en USA: 14 (0.71%)
Ataques no fatales a mujeres en USA: 293 (14.85%)
Ataques fatales a hombres en USA: 182 (9.22%)
Ataques no fatales a hombres en USA: 1484 (75.22%)